PROWLARR_URL=http://192.168.1.203:9696
PROWLARR_API_KEY=           # obligatoire

QBIT_URL=http://192.168.1.202:8080
QBIT_USERNAME=              # obligatoire
QBIT_PASSWORD=              # obligatoire

LIBRARY_URL=                # optionnel — URL vers l'interface Calibre
